/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

.space-around {
  display: flex;
  justify-content: space-around;
}

.space-evenly {
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
}

.center-it {
  margin: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.box-it {
  padding: 20px;
  margin: 10px;
  border: 1px gray solid;
  border-radius: 10px;
  width: 500px;
}

.thumbnail-0 {
  border-radius: 200px;
  width: 10vw;
  height: auto;
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
